* {
    box-sizing: border-box;
}

html,
body {
    min-width: 1200px;
}


/* reset */

body,
h1,
h2,
h3,
h4 {
    margin: 0;
}

a {
    text-decoration: none;
}


/* ------ header ------ */

header {
    background-color: #555;
    padding: 30px 0;
}

nav {
    width: 1050px;
    font-size: 0;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
}

nav a {
    display: inline-block;
    vertical-align: middle;
    color: #CFD8DC;
}

nav a:hover {
    color: #eee;
}

nav>a {
    width: 20%;
}

nav ul a {
    width: 100%;
    padding: 5% 0;
}

nav h1 {
    font-size: 22px;
    letter-spacing: 7px;
}

nav ul {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    width: 70%;
}

nav li {
    display: inline-block;
    width: 8%;
    font-size: 16px;
    margin-left: 8%;
}

nav li:nth-child(4) {
    width: 19%;
}

nav li:nth-child(5) {
    width: 12%;
}

nav .cart {
    display: inline-block;
    width: 10%;
    text-align: right;
}


/* ----- main ------*/

section.banner {
    background: url("./img/cover.jpg");
    padding: 280px 0 195px 0;
    background-size: cover;
    background-position: 50% 0;
}

.shipping {
    text-align: center;
    font-size: 14px;
    letter-spacing: 5px;
    padding: 15px 0;
    background-color: #E0E0E0;
    color: #666;
}

.title_wrapper {
    width: 43%;
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    color: #333;
    background-color: rgba(256, 256, 256, 0.5);
}

.title_wrapper h2 {
    display: inline-block;
    width: 100%;
    letter-spacing: 5px;
    font-size: 60px;
    margin-bottom: 10px;
}

.title_wrapper a {
    display: inline-block;
}

.title_wrapper .button_buy {
    font-size: 20px;
    padding: 10px 75px;
    color: #eee;
    background-color: #333;
    border-color: #333;
}

.tips {
    background-color: #eee;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 2px;
    color: #555;
    position: relative;
}


/* ------- section product ------- */

.product {
    text-align: center;
    padding: 30px 0 20px 0;
}

.product_wrapper {
    width: 1050px;
    margin: auto;
}

.product div:first-of-type {
    font-size: 22px;
    letter-spacing: 6px;
    margin-bottom: 65px
}

.product h3 {
    margin-bottom: 25px;
    font-size: 40px;
    letter-spacing: 15px;
}

.product hr {
    width: 2%;
    margin-bottom: 35px;
}

.recommend img+img {
    margin-left: 5px;
}


/* -----footer------ */

footer {
    background-color: #555;
    color: #eee;
    padding: 80px 0;
    font-size: 0;
}

.footer_wrapper {
    width: 950px;
    margin: auto;
}

footer h4 {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #CFD8DC;
    letter-spacing: 2px;
}

.social {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 20%;
}

.social a {
    display: inline-block;
    width: 20px;
}

.social a img {
    width: 100%;
}

.social a+a {
    margin-left: 25px;
}

.email {
    display: inline-block;
    vertical-align: top;
    width: 36%;
    margin-left: 12%;
}

.email input {
    width: 100%;
    background-color: #555;
    padding: 5px 0;
    font-size: 13px;
    font-weight: bold;
}

.email button {
    display: block;
    margin-left: auto;
    font-size: 16px;
    color: #666;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}

.email input::placeholder {
    color: #eee;
}

.contact {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: center;
    font-size: 16px;
    margin-left: 12%;
}

.copyright {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: #CFD8DC;
    margin-top: 75px;
}