* {
    box-sizing: border-box;
}

html,
body {
    min-width: 1200px;
}


/* reset */

body,
h1,
h2,
h3,
h4 {
    margin: 0;
}


/* ------ header ------ */

header {
    background-color: #555;
    padding: 30px 0;
}

nav {
    width: 1050px;
    font-size: 0;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
}

nav a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #CFD8DC;
}

nav a:hover {
    color: #eee;
}

nav>a {
    width: 20%;
}

nav ul a {
    width: 100%;
    padding: 5% 0;
}

nav h1 {
    font-size: 22px;
    letter-spacing: 7px;
}

nav ul {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    width: 70%;
}

nav li {
    display: inline-block;
    width: 8%;
    font-size: 16px;
    margin-left: 8%;
}

nav li:nth-child(4) {
    width: 19%;
}

nav li:nth-child(5) {
    width: 12%;
}

nav .cart {
    display: inline-block;
    width: 10%;
    text-align: right;
}


/* ----- main ------*/

section.banner {
    background: url("./img/cover.jpg");
    padding: 280px 0 195px 0;
    background-size: cover;
    background-position: 50% 0;
}

.shipping {
    text-align: center;
    font-size: 14px;
    letter-spacing: 5px;
    padding: 15px 0;
    background-color: #E0E0E0;
    color: #666;
}

.title_wrapper {
    width: 43%;
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    color: #333;
    background-color: rgba(256, 256, 256, 0.5);
}

.title_wrapper h2 {
    display: inline-block;
    width: 100%;
    letter-spacing: 5px;
    font-size: 60px;
    margin-bottom: 10px;
}

.title_wrapper a {
    display: inline-block;
}

.title_wrapper .button_buy {
    font-size: 20px;
    padding: 10px 75px;
    color: #eee;
    background-color: #333;
    border-color: #333;
}

.tips {
    background-color: #eee;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 2px;
    color: #555;
    position: relative;
}